<ion-header>
        <ion-navbar>
          <button ion-button menuToggle right>
            <ion-icon  name="menu"></ion-icon>
          </button>
          <button ion-button (click)="goToAddTasacion()">
                <ion-icon  name="add-circle"></ion-icon>
                <span>Añadir Tasación</span>
          </button>
        </ion-navbar>
      </ion-header>

  <ion-content>
      <table class="tasaciones">
          <thead>
              <tr>
                  <th>Matricula</th>
                  <th>Marca Modelo</th>
                  <th>Fecha Tasación</th>
                  <th class="p2">Fecha Matriculación</th>


              </tr>
          </thead>
          <tbody>
              <!-- <tr ng-cloak ng-repeat="tasacion in tasaciones | orderBy: '-fecha' | filter:search | filter:advancedSearch | limitTo:selectedOption.value"> -->
              <tr class="zebra" *ngFor="let tasacion of tasaciones; index as i" (click)="selectTasacion(i)">

                  <td>{{tasacion.matricula}}</td>
                  <td>{{tasacion.nombre_marca + " " + tasacion.modelo}}</td>
                  <td>{{tasacion.fecha_europea}}</td>
                  <td class="p2">{{tasacion.fecha_matriculacion_europea}}</td>
                  <!--
                      <td>{{convertAllDates(tasacion.fecha)}}</td>
                      <td class="p2">{{convertAllDates(tasacion.fecha_matriculacion)}}</td>
                      -->


              </tr>
          </tbody>
      </table>


  </ion-content>
  