<ion-header>
        <ion-navbar>
          <button ion-button menuToggle right>
            <ion-icon  name="menu"></ion-icon>
          </button>
          <button ion-button (click)="goToAddTasacion()">
                <ion-icon  name="add-circle"></ion-icon>
                <span>Añadir Tasación</span>
          </button>
        </ion-navbar>
      </ion-header>

  <ion-content>
      <input type="text" [(ngModel)]="searchValue">
      <button (click)="searchTasacionManager()">Search</button>
      <table class="tasaciones">
          <thead>
              <tr>
                  <th>Matricula</th>
                  <th>Marca Modelo</th>
                  <th>Fecha Tasación</th>
                  <th class="p2">Fecha Matriculación</th>


              </tr>
          </thead>
          <tbody>
              <tr class="zebra" *ngFor="let tasacion of tasaciones; index as i" (click)="selectTasacion(i)">

                  <td>{{tasacion.matricula}}</td>
                  <td>{{tasacion.nombre_marca + " " + tasacion.modelo}}</td>
                  <td>{{tasacion.fecha_europea}}</td>
                  <td class="p2">{{tasacion.fecha_matriculacion_europea}}</td>
              </tr>
          </tbody>
      </table>

      <div>
          <ion-grid>
              <ion-row>
                  <ion-col col-1 *ngFor="let page of availablePages" (click)="setPageAndGetTasaciones(page)">{{page}} </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-content>
  